asgiref==3.8.1
Django==4.2
django-cors-headers==3.14.0
django-tables2==2.7.5
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2==2.9.3
pytz==2024.2
setuptools==75.8.0
sqlparse==0.5.3
whitenoise==6.8.2
